.popup__container-info {
  max-width: 430px;
  width: 100%;
  background-color: #fff;
  padding: 60px 36px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-radius: 10px;
  position: relative;
  margin-top: -200px;
}


