.header__logo {
  background-image: url(./header__logo.svg);
  background-size: cover;
  width: 142px;
  height: 33px;
}

@media screen and (max-width: 620px) {
  .header__logo {
    margin: 0 0 0 30px;
  }
}

@media screen and (max-width: 400px) {
  .header__logo {
    width: 103.74px;
    height: 24.1px;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    margin-top: 28px;
  }
}