.profile__title {
  margin: 0;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 294px;
}


@media screen and (max-width: 620px) {
  .profile__title
   {
    font-size: 27px;
    line-height: 33px;
    max-width: 250px;
    margin-left: 25px;
  }
}
