.header__menu {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  gap: 18px;
  font-size: 18px;
  line-height: 22px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  width: 68.75%;
  margin: auto;
  display: none;
}

@media screen and (max-width: 320px) {
  .header__menu {
    width: 320px;
  }

}