.sign-up__authorization-button {
  width: 100%;
  min-height: 50px;
  background-color: #fff;
  color: #000;
  margin-top: 216px;
  border: 0;
  border-radius: 2px;
  font-size: 18px;
  line-height: 22px;
}

.sign-up__authorization-button:hover {
  opacity: 0.8;
  transition: 0.5s;
  cursor: pointer;
}